/*CUSTOM FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
  
/*CUSTOM FONTS*/




body {
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100vh;
 
  background: #fff;
  background-image: linear-gradient(rgba(250, 250, 250, 1) .1em, transparent .1em), linear-gradient(90deg, rgba(250, 250, 250, 1) .1em, transparent .1em);
  background-size: 3em 3em;
}
html{
  overflow-y: hidden;
}
span{
  color: #ffdd00!important;
}
.button{
  border-radius: 5em !important;
}
.positive{
  background-color: #03fcb1 !important;
  color: #2B2B2B !important;
}
.imgLoader {
  display: none;
  opacity: 0 !important;
}

.pricebox span {
  font-size: 30px;
  color: orange;
}

.accordion{
  border:none !important;
  -webkit-box-shadow: 5px 5px 10px  lightgrey !important;
  box-shadow: 5px 5px 10px lightgrey !important;
}
.ui.segment {
  border:none !important;
  -webkit-box-shadow: 5px 5px 10px  lightgrey !important;
  box-shadow: 5px 5px 10px lightgrey !important;
}
.ui.items .item.active {
  border: 3px solid red;
}
.footer{
	position: absolute;
	bottom: 0;
}
.canvas{
	width: 100%;
}
.gradientic{
	background: rgb(0,18,255);
	background: linear-gradient(225deg, rgba(0,18,255,1) 0%, rgba(255,0,78,1) 100%);	
}
.transparent{
	background-color: rgba(200,0,0,.1);
}

