/*======================================
//--//-->   NAVBAR
======================================*/
.navbar{
  font-family: 'montserrat-light';
  src: url(../fonts/montserrat/montserrat-regular-webfont.woff);
  font-weight: bold;
}



.navbar-a {
  transition: all .5s ease-in-out;
  background-color: transparent;
  font-family: "montserrat-light";
  src: url(../fonts/montserrat/montserrat-regular-webfont.woff);
  background-color: #1B1B1B;
}

.navbar-a.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-a.navbar-trans .nav-item,
.navbar-a.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-a.navbar-trans .nav-link,
.navbar-a.navbar-reduce .nav-link {
  color: #fff;
  font-weight: 600;
}

.navbar-a.navbar-trans .nav-link:before,
.navbar-a.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-a.navbar-trans .nav-link:hover,
.navbar-a.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-a.navbar-trans .nav-link:hover:before,
.navbar-a.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-a.navbar-trans .show > .nav-link:before,
.navbar-a.navbar-trans .active > .nav-link:before,
.navbar-a.navbar-trans .nav-link.show:before,
.navbar-a.navbar-trans .nav-link.active:before,
.navbar-a.navbar-reduce .show > .nav-link:before,
.navbar-a.navbar-reduce .active > .nav-link:before,
.navbar-a.navbar-reduce .nav-link.show:before,
.navbar-a.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-a.navbar-trans .nav-link:before {
  background-color: #000;
}

.navbar-a.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-a.navbar-trans .show > .nav-link,
.navbar-a.navbar-trans .active > .nav-link,
.navbar-a.navbar-trans .nav-link.show,
.navbar-a.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-a.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #000;
}

.navbar-a.navbar-reduce .nav-link {
  color: #3d3d3d;
  color: -moz-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -webkit-gradient(left top, right top, color-stop(0%, rgb(255,21,126)), color-stop(55%, rgba(135,24,240,1)), color-stop(100%, rgba(144,39,230,1)));
  color: -webkit-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -o-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -ms-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: linear-gradient(to right, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,21,126)', endColorstr='#9027e6', GradientType=1 );
}

.navbar-a.navbar-reduce .nav-link:before {
  background-color: rgb(255,21,126);
}

.navbar-a.navbar-reduce .nav-link:hover {
  color: rgb(255,21,126);
}

.navbar-a.navbar-reduce .show > .nav-link,
.navbar-a.navbar-reduce .active > .nav-link,
.navbar-a.navbar-reduce .nav-link.show,
.navbar-a.navbar-reduce .nav-link.active {
  color: rgb(255,21,126);
}

.navbar-a.navbar-reduce .navbar-brand {
  color: #000000;
}

.navbar-a.navbar-reduce .navbar-toggler span {
  background-color: rgb(255,21,126);
}

.navbar-a .navbar-brand {
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-a .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-a .dropdown.show .dropdown-menu,
.navbar-a .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-a .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-a .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-a .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255,21,126);
  color: #fff;
  transition: all 500ms ease;
}

.navbar-a .dropdown-menu .dropdown-item.active {
  background-color: rgb(255,21,126);
}




.navbar-b {
  transition: background-color .05s;
  background-color: transparent;
  font-family: "montserrat-light";
  src: url(fonts/montserrat/montserrat-regular-webfont.woff);

}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;

}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: background-color .05s;
  background-color: #00000000;
  backdrop-filter: blur(7px);
}

.navbar-b.navbar-reduce .nav-link {
  color: #3d3d3d;
  color: -moz-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -webkit-gradient(left top, right top, color-stop(0%, rgb(255,21,126)), color-stop(55%, rgba(135,24,240,1)), color-stop(100%, rgba(144,39,230,1)));
  color: -webkit-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -o-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -ms-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: linear-gradient(to right, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,21,126)', endColorstr='#9027e6', GradientType=1 );
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: rgb(255,21,126);
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: rgb(255,21,126);
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: rgb(255,21,126);
}

.navbar-b.navbar-reduce .navbar-brand {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(80%) contrast(90%);
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 100;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;

}

.navbar-b .dropdown-menu .dropdown-item {
  transition: background 200ms ease;
  font-weight: 600;
  padding: .7rem 1.7rem;
  transition: all 200ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background: rgb(255,21,126);
  background: linear-gradient(90deg, rgba(255,21,126,1) 32%, rgba(255,21,21,1) 100%);
  color: #fff;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: rgb(255,21,126);
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}
.navbar-toggler-a span{
  background: white;
}







.navbar-c {
  transition: all .5s ease-in-out;
  background-color: transparent;
  font-family: "montserrat-light";
  padding-top: 15px;
  padding-bottom: 15px;    
  src: url(../fonts/montserrat/montserrat-regular-webfont.woff);

}

.navbar-c.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-c.navbar-trans .nav-item,
.navbar-c.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-c.navbar-trans .nav-link,
.navbar-c.navbar-reduce .nav-link {
  color: #000;
  font-weight: 600;
}

.navbar-c.navbar-trans .nav-link:before,
.navbar-c.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-c.navbar-trans .nav-link:hover,
.navbar-c.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-c.navbar-trans .nav-link:hover:before,
.navbar-c.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-c.navbar-trans .show > .nav-link:before,
.navbar-c.navbar-trans .active > .nav-link:before,
.navbar-c.navbar-trans .nav-link.show:before,
.navbar-c.navbar-trans .nav-link.active:before,
.navbar-c.navbar-reduce .show > .nav-link:before,
.navbar-c.navbar-reduce .active > .nav-link:before,
.navbar-c.navbar-reduce .nav-link.show:before,
.navbar-c.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-c.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-c.navbar-trans .nav-link:hover {
  color: #7c6bff;
}
.navbar-c.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #fff;
}

.navbar-c.navbar-reduce .nav-link {
  color: #3d3d3d;
  color: -moz-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -webkit-gradient(left top, right top, color-stop(0%, rgb(255,21,126)), color-stop(55%, rgba(135,24,240,1)), color-stop(100%, rgba(144,39,230,1)));
  color: -webkit-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -o-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: -ms-linear-gradient(left, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  color: linear-gradient(to right, rgb(255,21,126) 0%, rgba(135,24,240,1) 55%, rgba(144,39,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,21,126)', endColorstr='#9027e6', GradientType=1 );
}

.navbar-c.navbar-reduce .nav-link:before {
  background-color: rgb(255,21,126);
}

.navbar-c.navbar-reduce .nav-link:hover {
  color: rgb(255,21,126);
}

.navbar-c.navbar-reduce .show > .nav-link,
.navbar-c.navbar-reduce .active > .nav-link,
.navbar-c.navbar-reduce .nav-link.show,
.navbar-c.navbar-reduce .nav-link.active {
  color: rgb(255,21,126);
}

.navbar-c.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-c .navbar-brand {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-c .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-c .dropdown.show .dropdown-menu,
.navbar-c .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-c .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-c .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-c .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255,21,126);
  color: #fff;
  transition: all 500ms ease;
}

.navbar-c .dropdown-menu .dropdown-item.active {
  background-color: rgb(255,21,126);
}






*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*| Navigation |*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
  nav ul{
    list-style: none;
    position: relative;
    float: left;
    
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    nav ul li:hover .nav-link{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block; 
        padding: 30px 20px;
        color: #222; 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
          } 

@media(max-width: 768px){
  
}          