
#svg-box-content-base {
    position: absolute;
    top: 0;
    z-index: 5;
}
#svg-box-content-chasis{
    position: absolute;
    top: 0;
    z-index: 6;
}
#svg-box-content-jog {
    position: absolute;
    top: 0;
    z-index: 7;
}
#svg-box-content-seat{
    position: absolute;
    top: 0;
    z-index: 8;
}
#svg-box-content-handl1{
    position: absolute;
    top: 0;
    z-index: 9;
}
#svg-box-content-handl2{
    position: absolute;
    top: 0;
    z-index: 10;
}

.svg-box {
    width: 120%;
    padding-top: 50%; /* Aspect ratio */ 
    top: 0vh;
    left: 8px;
    position: relative;
    opacity: 0.25;
}.svg-box-content {
    position: absolute;
    top: 0;
    left: 15%;
    z-index: -5;
}
.bikez{
	top: 0;
	width: 85%;
    position: absolute;
    bottom: -6%;
}



.databox{
    height: 23vh;
	left: 30vh;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

.hydro{
  position: relative;
  width: 150%;
  left: -40%;
}
.hydrow{
  position: relative;
  width: 200%;
  
}
.insticon{
  padding-top: 40%;
  max-height: 150px;
}


@media(max-width:768px){
	.databox{
		left: 30vh;
		padding-bottom: 3vh;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in; 
	}
}

@media (max-width: 992px) {
	.insticon{
		opacity: 0;
		height: 0;
		padding-top: 0;
	}
}

@media (max-width: 577px) {
	.hydrow{
	  position: relative;
	  width: 200%;
	  padding-top: 70px;
	}
}